-----------------------------------------------------------------
python 3.10 or lower
-----------------------------------------------------------------
import matplotlib.pyplot as plt
import numpy as np
import time
import seaborn as sns
import cv2
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import ConfusionMatrixDisplay,confusion_matrix
from keras.preprocessing.image import ImageDataGenerator
from keras.datasets import cifar10
from keras.models import Sequential
from keras.layers import Dense, Flatten, Conv2D, MaxPooling2D,MaxPool2D, Dropout
from keras.losses import sparse_categorical_crossentropy
from keras.optimizers import Adam
from sklearn.model_selection import KFold
from keras.utils import to_categorical